# git aliases
git config --global color.diff auto
git config --global color.status auto
git config --global color.interactive auto
git config --global color.branch auto
git config --global core.editor subl
git config --global alias.st status
git config --global alias.co checkout
git config --global alias.ci commit
git config --global alias.br branch
git config --global alias.last 'log -1 HEAD'
git config --global alias.unstage 'reset HEAD --'
git config --global user.name 'Paul Kelly'
git config --global user.email 'pkelly@equalexperts.com'
git config --global mergetool.diffmerge.cmd "diffmerge --merge --result=\$MERGED \$LOCAL \$BASE \$REMOTE"
git config --global mergetool.diffmerge.trustExitCode false
